<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/b5310f4f-383b-40e9-aacd-f0036440fc06/resourcegroups/Arquitectura/providers/Microsoft.ContainerRegistry/registries/ArquitecturaApplication20260702153451</ResourceId>
    <ResourceName>ArquitecturaApplication20260702153451</ResourceName>
    <ResourceGroup>Arquitectura</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>arquitecturaapplication20260702153451.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>